<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>投我以桃，报之以李。</string>
    <string>路漫漫其修远兮，吾将上下而求索。</string>
    <string>满招损，谦受益。</string>
    <string>人非圣贤，孰能无过？过而能改，善莫大焉。</string>
    <string>前事不忘，后事之师。</string>
    <string>知己知彼，百战不殆。</string>
    <string>祸兮福之所倚，福兮祸之所伏。</string>
    <string>知人者智，自知者明。</string>
    <string>物以类聚，人以群分。</string>
    <string>工欲善其事，必先利其器。</string>
    <string>三军可夺帅也，匹夫不可夺志也。</string>
    <string>人无远虑，必有近忧。</string>
    <string>有则改之，无则加勉。</string>
    <string>天时不如地利，地利不如人和。</string>
    <string>得道者多助，失道者寡助。</string>
    <string>生于优患，死于安乐。</string>
    <string>富贵不能淫，贫贱不能移，威武不能屈。</string>
    <string>锲而舍之，朽木不折；锲而不舍，金石可镂。</string>
    <string>千里之堤，溃于蚁穴。</string>
    <string>临渊羡鱼，不如退而结网。</string>
    <string>塞翁失马，焉知非福。</string>
    <string>智者千虑，必有一失；愚者千虑，必有一得。</string>
    <string>不鸣则已，一鸣惊人。</string>
    <string>少壮不努力，老大徒伤悲！汉乐府《长歌行》</string>
    <string>失之东隅，收之桑榆。</string>
    <string>精诚所至，金石为开。</string>
    <string>疾风知劲草，岁寒见后凋。</string>
    <string>非淡泊无以明志，非宁静无以致远。</string>
    <string>勿以恶小而为之，勿以善小而不为。</string>
    <string>近朱者赤，近墨者黑。</string>
    <string>机不可失，失不再来。</string>
    <string>海内存知己，天涯若比邻。</string>
    <string>落霞与孤鹜齐飞，秋水共长天一色。</string>
    <string>莫愁前路无知己，天下谁人不识君。</string>
    <string>天生我材必有用，千金散尽还复来。</string>
    <string>出师未捷身先死，长使英雄泪满襟。</string>
    <string>谁言寸草心，报得三春晖。</string>
    <string>业精于勤荒于嬉，行成于思毁于随。</string>
    <string>东边日出西边雨，道是无晴却有晴。</string>
    <string>山不在高，有仙则名；水不在深，有龙则灵。</string>
    <string>千淘万漉虽辛苦，吹尽狂沙始到金。</string>
    <string>曾经沧海难为水，除却巫山不是云。</string>
    <string>海阔凭鱼跃，天高任鸟飞。</string>
    <string>兼听则明，偏信则暗。</string>
    <string>不畏浮云遮望眼，只缘身在最高层。</string>
    <string>人有悲欢离合，月有阴晴圆缺。</string>
    <string>生当作人杰，死亦为鬼雄。</string>
    <string>山重水复疑无路，柳暗花明又一村。</string>
    <string>青山遮不住，毕竟东流去。</string>
    <string>人生自古谁无死留取丹心照汗青。</string>
    <string>等闲识得东风面，万紫千红总是春。</string>
    <string>近水楼台先得月，向阳花木易为春。</string>
    <string>莫等闲，白了少年头，空悲切。</string>
    <string>三十功名尘与土八千里路云和月。</string>
    <string>着意栽花花不发，等闲插柳柳成阴。</string>
    <string>只要功夫深，铁杵磨成针。</string>
    <string>男儿有泪不轻弹，只因未到伤心处。</string>
    <string>路遥知马力，日久见人心。</string>
    <string>不是一番寒彻骨，怎得梅花扑鼻香。</string>
    <string>金玉其外，败絮其中。</string>
    <string>风声，雨声，读书声，声声入耳；家事，国事，天下事，事事关心。</string>
    <string>将在谋而不在勇，兵在精而不在多。</string>
    <string>人逢喜事精神爽，月到中秋分外明。</string>
    <string>冤家宜解不宜结，各自回头看后头。</string>
    <string>命里有时终须有，命里无时莫强求。</string>
    <string>长江后浪推前浪，一代新人换旧人。</string>
    <string>滚滚长江东逝水，浪花淘尽英雄。</string>
    <string>山高自有客行路，水深自有渡船人。</string>
    <string>一叶浮萍归大海，人生何处不相逢。</string>
    <string>道高一尺，魔高一丈。</string>
    <string>智者不必仁，而仁者则必智。</string>
    <string>世事洞明皆学问，人情练达即文章。</string>
    <string>假作真时真亦假，无为有处有还无。</string>
    <string>天下兴亡，匹夫有责。</string>
    <string>落红不是无情物，化作春泥更护花。</string>
    <string>我自横刀向天笑，去留肝胆两昆仑。</string>
    <string>一失足成千古恨，再回头已百年身。</string>
    <string>江山代有才人出，各领风骚数百年。</string>
    <string>横眉冷对千夫指，俯首甘为孺子牛。</string>
    <string>红雨随心翻作浪，青山着意化为桥。</string>
</array>
</plist>
